.icon {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  
  &:hover {
    cursor: pointer;
  }
  
  max-width: 100%;
  height: auto;
  
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
} 